@use '../../styles/colors.scss';

.info-row {
  text-align: center !important;
}

.highlighted-text {
  font-weight: 700;
  color: colors.$purpleDark;
}

.back-button  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}